
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#821121" type = "line-scale-pulse-out" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <app-aside></app-aside>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
      <app-nav></app-nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
              <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <div class="row">
                        <div class="col-md-3">
                        <h6 class="text-white text-capitalize ps-3 mt-2">Currency List</h6>
                        </div>
                        <div class="col-md-3">
                           <a href="" class="btn bg-gradient-info" *ngIf="operationCrud" data-bs-toggle="modal" type="button" data-bs-target="#AddModal">Add</a> 
                        </div>
                        <div class="col-md-3" *ngIf="operationCrud">
                            <a type="button" class="btn btn-warning" data-bs-target="#AddFromExcelModal" data-bs-toggle="modal"> <i class="material-icons opacity-10">attach_file</i> Add from excel</a> 
                         </div>
                         <div class="col-md-3">
                            <a href="" class="btn btn-primary">sss</a> 
                         </div>
                    </div>
                  </div>
                </div>
                <div class="card-body m-1">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="input-group input-group-outline my-2">
                        <label  class="form-label">Search</label>
                        <input type="text" autocomplete="off" [(ngModel)]="searchvalue" class="form-control">
                      </div>                     
                  </div>
                  <div class="col-md-3">
                    <div class="form-check form-switch d-flex align-items-center my-2">
                      <input class="form-check-input" [(ngModel)]="status"  (change)="getlist(companyId)" [ngModelOptions]="{standalone: true}" type="checkbox" id="status">
                      <label class="form-check-label mb-0 ms-2"  for="status">Actif/Pacif</label>
                    </div>   
             
                  </div>
                  <div class="col-md-3">
                    <div class="form-check form-switch d-flex align-items-center my-2">
                      <input class="form-check-input" [(ngModel)]="statusAll"   (change)="changecheckbox()" [ngModelOptions]="{standalone: true}" type="checkbox" id="statusAll">
                      <label class="form-check-label mb-0 ms-2"  for="statusAll">All</label>
                    </div>   
             
                </div>
                
                  <div class="col-md-3">
                    <div class="input-group input-group-outline my-2">
                      <a href="" class="btn btn-info" (click)="exportExcel()"> <i class="fa fa-file-excel-o"></i> Get curreny List To excel</a> 
                    </div>                     
                </div>
                </div>
              </div>
                <div class="card-body px-0 pb-2">
                  <h4 class="table-responsive p-0 text-center text-m" *ngIf="!ShowList">There is no user for this company!</h4>
                  <div class="table-responsive p-0" *ngIf="ShowList">
                    <table id="excel-table" class="table align-items-center mb-0" >
                      <thead>
                        <tr>
                          <th class="text-secondary opacity-7">Currency Information</th>
                          <th class="text-secondary opacity-7">Tax Department/number/I.D</th>
                          <th class="text-secondary text-center opacity-7">Email</th>
                          <th class="text-secondary opacity-7">Added Date</th>       
                          <th class="text-secondary text-center opacity-7">Authorized Person</th>                                           
                          <th class="text-secondary text-center opacity-7">Actions</th>

                        </tr>
                      </thead>
                      <tbody *ngFor="let item of currencyAcouuntList | currencyAccountPipe  :searchvalue ">
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{item.name}}</h6>
                                <p class="text-xs text-secondary mb-0">{{item.code}}</p>
                                <p class="text-xs text-secondary mb-0">{{item.taxDepartment}}</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-sm font-weight-bold mb-0"> <i class="text-danger"> T.dep:</i> {{item.taxDepartment}}</p>
                            <p class="text-sm text-secondary mb-0"><i class="text-danger"> T.number:</i> {{item.taxIdNumber!=null?item.taxIdNumber:'there is no id'}}</p>
                            <p class="text-sm text-secondary mb-0"><i class="text-danger"> I.D:</i>{{item.identityNumber}}</p>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <h6 class="mb-0 text-sm">{{item.email}}</h6>
                          </td>
                          <td>
                            <p class="text-sm font-weight-bold mb-0"> <i class="text-danger"> AddedAt:</i>{{item.addedTime | date:'dd.MM.yyyy'}}</p>
                            <p class="text-sm text-secondary mb-0"><i class="text-danger"> Status:</i> <span [class]="changeSpanClass(item.isActive)">{{item.isActive==true? "Active":"Not active"}}</span></p>

                          </td>
                         
                          <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{item.authorized}}</span></td>
                          <td class="align-middle">
                            <a  class="btn btn-sm btn-primary mx-1" data-bs-toggle="modal" (click)="GetCurrencyAccount(item.id)" type="button" data-bs-target="#UpdateModal"  title="edit"> <i class="material-icons opacity-10">edit</i> </a>
                            <a  class="btn btn-sm btn-warning mx-1" (click)="ChangeStatus(item)" title="ChangeStatus"><i class="material-icons opacity-10">restore_from_trash</i></a>
                            <a  class="btn btn-sm btn-danger mx-1" *ngIf="operationCrud" (click)="delete(item.id)" title="Delete"><i class="material-icons opacity-10">restore_from_trash</i></a>
                          </td>
                        </tr>                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </main>

  <!--   Core JS Files   -->
  
  
<!-- Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Add Currencies</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" #form="ngForm" (ngSubmit)="Add(Name.value,Address.value,Email.value,Authorized.value,Code.value,TaxDepartment.value,TaxIdNumber.value,form)">
      <div class="modal-body">
        
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" ngModel name="name" #Name required class="form-control">
              </div>
              <div class="input-group input-group-outline mb-3">
                <label class="form-label">Address</label>
                <input type="text" ngModel name="adress" required #Address class="form-control">
              </div>
                <div class="input-group input-group-outline mb-3">
                <label class="form-label">Email</label>
                <input type="email" ngModel name="email" required #Email class="form-control">
                </div>
                  <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Authorized Person</label>
                  <input type="text" ngModel [ngModelOptions]="{standalone: true}" #Authorized class="form-control">
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Code</label>
                    <input type="text" ngModel name="code" #Code required class="form-control">
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Tax Department</label>
                    <input type="text" ngModel [ngModelOptions]="{standalone: true}" #TaxDepartment class="form-control">
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Tax Id Number</label>
                    <input type="text" ngModel [ngModelOptions]="{standalone: true}" #TaxIdNumber class="form-control">
                  </div>
                  
                
      </div>
   
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" [disabled]="!form.valid" class="btn bg-gradient-primary">Add</button>
      </div>
    </form> 
    </div>
  </div>
</div>

<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel2">Update</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" (ngSubmit)="Update(UpdateName.value,UpdateAddress.value,UpdateEmail.value,UpdateAuthorized.value,UpdateCode.value,UpdateTaxDepartment.value,UpdateTaxIdNumber.value)">
      <div class="modal-body">
        
                <div class="input-group input-group-dynamic  mb-3 ">
                  <span class="input-group-text" id="basic-addon1">Name</span>
                  <input type="text" ngModel [ngModelOptions]="{standalone: true}" #UpdateName value={{currencyAcouuntListAddModel?.name}} required class="form-control modalForm">
              </div>
              <div class="input-group input-group-dynamic mb-3">
                <span class="input-group-text" id="basic-addon1">Address</span>
                <input type="text" ngModel [ngModelOptions]="{standalone: true}" value={{currencyAcouuntListAddModel?.address}} required #UpdateAddress class="form-control modalForm">
              </div>
                <div class="input-group input-group-dynamic mb-3">
                  <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="email" ngModel [ngModelOptions]="{standalone: true}" value={{currencyAcouuntListAddModel.email}} required #UpdateEmail class="form-control modalForm">
                </div>
                  <div class="input-group input-group-dynamic mb-3">
                    <span class="input-group-text" id="basic-addon1">Authorized</span>
                  <input type="text" ngModel [ngModelOptions]="{standalone: true}" value={{currencyAcouuntListAddModel.authorized}} #UpdateAuthorized class="form-control modalForm">
                  </div>
                  <div class="input-group input-group-dynamic mb-3">
                    <span class="input-group-text" id="basic-addon1">Code</span>
                    <input type="text" ngModel [ngModelOptions]="{standalone: true}" #UpdateCode value={{currencyAcouuntListAddModel.code}} required class="form-control modalForm">
                  </div>
                  <div class="input-group input-group-dynamic mb-3">
                    <span class="input-group-text" id="basic-addon1">TaxDepartment</span>
                    <input type="text" ngModel [ngModelOptions]="{standalone: true}" #UpdateTaxDepartment value={{currencyAcouuntListAddModel.taxDepartment}} class="form-control modalForm">
                  </div>
                  <div class="input-group input-group-dynamic mb-3">
                    <span class="input-group-text" id="basic-addon1">Tax Id Number</span>
                    <input type="text" ngModel [ngModelOptions]="{standalone: true}" #UpdateTaxIdNumber value={{currencyAcouuntListAddModel.taxIdNumber}} class="form-control modalForm">
                  </div>
                  
                
      </div>
   
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-secondary" id="submitbutton" data-bs-dismiss="modal">Close</button>
        <button type="submit"  class="btn bg-gradient-primary">Update</button>
      </div>
    </form> 
    </div>
  </div>
</div>

<div class="modal fade" id="AddFromExcelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel3">Add From Excel</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" (ngSubmit)="addFromExcel()">
      <div class="modal-body">
        <div class="mb-3">    
          <br>    
          <input class="form-control" type="file" id="formFile" (change)="onChange($event)">
          <br>
          <h6><a href="/../assets/file/Cariler.xlsx" class="text-sm font-weight-bold mb-0" > Click  Here To Download Exempla Data </a></h6>
        </div>             
      </div>
   
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal" id="closebutton">Close</button>
        <button type="submit" class="btn bg-gradient-primary">Upload</button>
      </div>
    </form> 
    </div>
  </div>
</div>


